/dev
/sd_user
/templogs
/certificat
/downloads
/update_packages
/languages/*/script_general_config.bat
/Ultimate-Switch-Hack-Script.bat.lng
/log.txt
/biskey.txt
/tools/android_tools
/tools/python3_scripts/brute_force_biskeys/temp_biskey.txt
/tools/python3_scripts/ssnc/serials.json
/tools/toolbox/user_tools.txt
/tools/java/jre1.8.0_261
/tools/Hactool_based_programs/keys.txt
/tools/Hactool_based_programs/keys.dat
/tools/Hactool_based_programs/ChoiDuJour_keys.txt
/tools/NSC_Builder/keys.txt
/tools/NSC_Builder/zconfig/DB/nutdb.json
/tools/NSC_Builder/NSCB_output
/tools/NSC_Builder/lists
/tools/NSC_Builder/INFO
/tools/HacDiskMount/HacDiskMount.log
/HacDiskMount.log
/tools/sd_switch/AceOS
/tools/sd_switch/atmosphere_emummc_profiles
/tools/sd_switch/cheats/profiles
/tools/sd_switch/emulators/pack/RetroArch/RetroArch.7z
/tools/sd_switch/emulators/profiles
/tools/sd_switch/mixed/modular/Tinfoil/switch/tinfoil/icons.db
/tools/sd_switch/mixed/profiles
/tools/sd_switch/modules/profiles
/tools/sd_switch/overlays/profiles
/tools/sd_switch/profiles
/tools/sd_switch/salty-nx/profiles
/tools/sd_switch/atmosphere/switch/reboot_to_payload
/tools/sd_switch/reinx
/tools/sd_switch/reinx/switch/reboot_to_payload
/tools/sd_switch/sxos/switch/SX_Reboot
/tools/sd_switch/sxos/sxos/config
/tools/sd_switch/sxos/sxos\titles\0100000000000123