/tools/ChoiDuJour	export-ignore
/tools/sd_switch/atmosphere_fs_and_es_patches	export-ignore
/tools/unbrick_special_SD_files/folder_version.txt	export-ignore
/dev_helping_scripts	export-ignore
/.gitattributes	export-ignore
/credits.md	export-ignore
/README.md	export-ignore
/README_en.md	export-ignore
/changelog.md	export-ignore
/changelog_en.md	export-ignore
/packs_changelog.md	export-ignore
/packs_changelog_en.md	export-ignore
/.gitignore	export-ignore
